<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADGV" version="0.1.0.10" targetFramework="net452" />
  <package id="Dapper" version="1.50.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="MdiTabCtrl" version="1.0.0.1" targetFramework="net452" />
  <package id="RibbonWinForms" version="5.0.1.1" targetFramework="net452" />
  <package id="SunnyUI" version="3.6.1" targetFramework="net452" />
  <package id="SunnyUI.Common" version="3.5.1" targetFramework="net452" />
</packages>